// Colors
$white: #fff;
$black: #212121;
$blue: var(--kit-color-primary);
$blue-light: #7C3438;
$blue-dark: #410203;
$gray-1: #f2f4f8;
$gray-2: #e4e9f0;
$gray-3: #BBA9A9;
$gray-4: #A18686;
$gray-5: #8D6B6D;
$gray-6: #7A5153;
$yellow: #ff0;
$orange: #f2a654;
$red: #f00;
$pink: #fd3995;
$purple: #652eff;
$green: #41b883;

$text: $gray-6;
$border: $gray-2;

// Accent colors
$default: $gray-4;
$primary: $blue;
$secondary: $gray-5;
$success: $green;
$info: $blue-light;
$warning: $orange;
$danger: $red;
$light: $gray-1;
$dark: $black;

// dark theme
$dark-gray-1: #d0d0d0;
$dark-gray-2: #737373;
$dark-gray-3: #494949;
$dark-gray-4: #2A2A2A;
$dark-gray-5: #212121;
$dark-gray-6: #1E1E1E;

// Font Family
$base-font-family: var(--kit-font-family);

// Font Size
$base-font-size: 15 !default;
